<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Axel Hultman</title>
  <link rel="stylesheet" href="{{asset "css/bootstrap.min.css"}}" />
  <link rel="stylesheet" href="{{asset "css/style.css"}}" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans" rel="stylesheet">
  <script src="{{asset "js/p5.min.js"}}" type="text/javascript" charset="utf-8" async defer></script>
  <!-- <script src="{{asset "js/sketch.js"}}" type="text/javascript" charset="utf-8" async defer></script> SAVE THIS FOR LATER -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>  
  <a href="/"><div class="toppicture"><h1 id="name">AXEL</h1></div></a>
  <div class="container" id="main-container">
    <header>
        <div class="row">
          <div class="col-md-12">
            <div id="sketch-holder"></div>
          </div>
        </div>
    </header>
  {{{body}}}
  </div>
</body>
</html>